@{
    ViewData["Title"] = "Home";
}

<div class="home-info">
    <h2>ABC Retail Storage App!</h2>
    <p>Just like your love life this site is a work in progress and new features are coming soon.</p>
    
    <p>CRUD Functionality at your fingertips...retail management has <b>NEVER</b> had this much aura!</p>
    <ul>
        <li><b>Tables</b>: Customers & Products are shown in their respective tables and we bring them together in the Orders table.</li>
        <li><b>Blobs</b>: The various imags that we use for our products  are stored in a blob storage...and dont worry you can easily edit and delete to your hearts content ;)</li>
        <li><b>Queues</b>: Orders ssure do pile up fast huh? Not to worry we keep track of them here and are notified for every order...we can also view them in the Queues section of our BLOB!</li>
        <li><b>Files</b>: Upload and be able to view the list dummy contracts...but lets pretend they're real</li>
    </ul>
</div>
